h1{font-family: "Pixelify Sans", sans-serif;}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #586e75;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  transition: background 0.5s;
}

body {
  background-color:  #eae6d2;
  font-family:  monospace;
}
/* If the browser window is smaller than 650px, the background color will change to black and the text to white: */
@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}
/* If the browser window is shorter than 650px, the background will turn orange */
@media (max-height: 650px) {
  body {
    background-color: whitesmoke;
  }
}


.centered {
      font-size: 50px;
      color: #b58900;
      text-shadow: 2px 2px #eee8d5;
}

a:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(242, 246, 165);
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 25px;
  left: 25px;
  position: fixed;}