.image-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

  .first {
    position: absolute;
    top: 305px;
    left: 470px;
    position: fixed;
}

.second {
  position: absolute;
  top: 320px;
  left: 650px;
  position: fixed;
}

.third {
  position: absolute;
  top: 327px;
  left: 200px;
  position: fixed;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  bottom: 25px;
  right: 25px;
  position: fixed;}
  
  img:hover {
    opacity: 0.5;
  }

  .pictures {
    width: 230;
    height: 150;
  }

  .first, .second, .third {
    margin: 10px;
}

img {
    cursor: pointer;
}

body{
  font-family: "Mynerve";
  font-size: 20px;
  position: absolute;
  top: 440px;
  left: 660px;
}