.image-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

  .first {
    position: absolute;
    top: 305px;
    left: 470px;
    position: fixed;
}

.second {
  position: absolute;
  top: 420px;
  left: 670px;
  position: fixed;
}

.third {
  position: absolute;
  top: 327px;
  left: 200px;
  position: fixed;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 25px;
  left: 25px;
  position: fixed;}
  
  img:hover {
    opacity: 0.5;
  }

  .pictures {
    width: 230;
    height: 150;
  }