
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 138, 194);
    font-size: 70px;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  