body{
	background-color: #fff;
	font-family: Helvetica;
	margin: 0;
}

.rect:active{
	background-color: black;
	border: 1pt solid black;
}

@keyframes ltr-spacing-change {
	  0%   {letter-spacing: 4px; font-size: 12px;}
    25%  {letter-spacing: 8px; font-size: 20px;}
    50%  {letter-spacing: 2px; font-size: 8px;}
    75%  {letter-spacing: 8px;  font-size: 20px;}
    100% {letter-spacing: 4px; font-size: 12px;}

}

@keyframes pos-change {
	from {left: 50%;}
	to {left: 300%;}
}