
@font-face {
  font-family: "PicNic";
  src: url("https://cdn.glitch.global/a608bf57-e75d-4433-b73c-a5dcdf512ce8/PicNic-Regular.woff?v=1664895784728") format("woff")
}

body{
  font-family: PicNic;
  font-size: 80px;
}