body{
    background-color: #cdd0cc;
    }
    h1{font-family: 'Times New Roman', Times, serif;
        color: rgb(89, 147, 93);
        font-size: 100px;
        padding: 50px 50px 50px 50px;
        border: 5px dotted;}

        p {
    color: rgb(135, 73, 183);
    }
    .green {font-size: larger;
    color: chocolate;}
    .fantasy{font-family: fantasy;}