body, html {
  height: 100%;
  margin: 0;
}
body{
    background-color: #363636;
    text-align: center;
    }
    h1{font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(241, 241, 243);
        font-size: 50px;
        padding: 5px 5px 5px 5px;
        }
            body {
              background-color: rgb(255, 255, 255);
            }

          .first {
            position: absolute;
            top: 60px;
            left: 50px;
            position: fixed;
        }
        
        .second {
            position: absolute;
            top: 150px;
            left: 50px;
            position: fixed;
        }
        
        .third {
            position: absolute;
            top: 240px;
            left: 50px;
            position: fixed;
        }
        
        .fourth {
            position: absolute;
            top: 330px;
            left: 50px;
            position: fixed;
        }
        
        .fifth {
            position: absolute;
            top: 420px;
            left: 45px;
            position: fixed;
        }

        img:hover {
          opacity: 0.5;
        }

        #secondImage {
          display: none;
          margin-top: 20px;
          max-width: 80%;
          border: 5px solid #ddd;
        }
        #content {
          position: relative;
        }
        #content img {
          position: absolute;
          bottom: 30px;
          left: 53px;
          position: fixed;}
        