body {
    background-color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 70px;
  color: rgb(0, 0, 0);
}

.centered {
  position: absolute;
  top: 210px;
  left: 230px;
  position: fixed;
}

.images {
    position: fixed;
  }
  
  img:hover {
    opacity: 0.5;
  }

  #content {
    position: relative;
}
#content img {
    position: absolute;
    top: 700px;
    left: 78px;
    position: fixed;}

    .first {
      position: absolute;
      top: 5px;
      left: 220px;
      position: fixed;
  }
  
  .second {
      position: absolute;
      top: 4px;
      left: 280px;
      position: fixed;
  }
  
  .third {
      position: absolute;
      top: -14px;
      left: 305px;
      position: fixed;
  }
  
  .fourth {
      position: absolute;
      top: 8px;
      left: 390px;
      position: fixed;
  }
  
  .fifth {
      position: absolute;
      top: 2.5px;
      left: 455px;
      position: fixed;
  }
  
  .sixth {
      position: absolute;
      top: 10px;
      left: 505px;
      position: fixed;
  }
  
  .seventh {
      position: absolute;
      top: 5px;
      left: 573px;
      position: fixed;
  }
  
  .eighth {
      position: absolute;
      top: -20px;
      left: 598px;
      position: fixed;
  }
  
  .ninth {
      position: absolute;
      top: 12px;
      left: 682px;
      position: fixed;
  }
  
  .tenth {
      position: absolute;
      top: 10px;
      left: 730px;
      position: fixed;
  }