.first {
  position: absolute;
  top: 60px;
  left: 300px;
  position: fixed;
}
.second {
  position: absolute;
  top: 160px;
  left: 442px;
  position: fixed;
}
#content {
  position: relative;
}
#content img {
  position: absolute;
  bottom: 25px;
  right: 35px;
  position: fixed;}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  top: 648px;
  left: 585px;
  font-size: 20px;
  position: absolute;
}
  