.first {
  position: absolute;
  top: 60px;
  left: 300px;
  position: fixed;
}
.second {
  position: absolute;
  top: 190px;
  left: 442px;
  position: fixed;
}
#content {
  position: relative;
}
#content img {
  position: absolute;
  bottom: 25px;
  right: 35px;
  position: fixed;}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  top: 648px;
  left: 585px;
  font-size: 20px;
  position: absolute;
}
.container {
  position: relative;
  width: 100%;
}
.overlay {
  position: center;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 160px;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 1000px;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

  